.footer {
    margin-top: auto;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: bottom;
    bottom: 0;
    width: 100%;
}

.footer-content {
    width: 80%;
    margin: auto;
}

.footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}
