body {
    font-family: Arial, Sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-repeat: repeat;
    height: 100vh;
  
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer{
    margin-top: auto;
    background-color: #333;

}
